.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ec297b;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
.text-muted {
    color: #fff !important;
}

#bootstrap-overrides{
    background-color: #b6d6b5 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ec297b;
    padding: 20px;
}

body {
    background-color: #FFDAED !important;
}

.profilephoto{
    position: absolute;
    top: 18px;
    right: 20px;
    width: 100px; /* Adjust size as needed */
    height: auto; /* Ensures aspect ratio is maintained */
    border-radius: 50%;
}

:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 2em;
    margin: 0 0 .3em;
    color: black;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#extra {
    padding: 20px; /* Padding around the education section */
    border-radius: 20px; /* Rounded corners */
}

.clubs,.work {
    background-color: #fff; /* Background color for school div */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Padding inside each school div */
    margin: 40px auto; /* Centered margin */
    max-width: 1000px; /* Maximum width */
    text-align: center;
}
.clubs:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}
.work:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}